<div class="new-msg-form">
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Answer" value=body class="msg-input"}}
  <button {{action 'addAnswer'}} class="submit">Submit</button>
</div>
