<div class="new-msg-link">{{#link-to 'questions.new'}}Ask a new question{{/link-to}}</div>


{{#each question in model}}

  <div class="each-msg">{{question.name}}: {{#link-to 'questions' body}}{{question.body}}{{/link-to}}</div>

{{/each}}

{{outlet}}
