<div class="new-msg-link">{{#link-to 'questions.new'}}Ask a new question{{/link-to}}</div>

<ul class="list-unstyled">
{{#each question in model}}

<li>{{#link-to 'questions.question' question.id}}{{question.body}}{{/link-to}} by {{question.name}}</li>

{{/each}}
</ul>

{{outlet}}
